<!DOCTYPE html>
<html>
<head>
    <title>Login</title>
</head>
<body>
    <h1>Login</h1>
    <form id="login-form">
        <label for="username">Username:</label>
        <input type="text" id="username" name="username" required>
        <br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" required>
        <br>
        <button type="submit" id="login-btn">Login</button>
    </form>
    <script>
        document.getElementById('login-form').addEventListener('submit', function(event) {
            event.preventDefault();  // Evita el comportamiento por defecto del botón de submit

            const username = document.getElementById('username').value;
            const password = document.getElementById('password').value;

            const payload = {
                username: username,
                password: password
            };

            fetch('http://localhost:8000/login/', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify(payload)
            })
            .then(response => response.json())
            .then(data => {
                if (data.message) {
                    window.location.href = "/home"; // Ajusta la URL de redirección según sea necesario
                } else {
                    alert(data.error);
                }
            })
            .catch((error) => {
                console.error('Error:', error);
            });
        });
    </script>
</body>
</html>

